.random-button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.random-button {
   margin-top: 40px;
   padding: 10px;
   width: 95%;
   border: 0.8px solid var(--accent-color);
   color: black;
   background-color: var(--accent-color);
   opacity: 0.7;
   border-radius: 5px;
   font-size: 20px;
   font-family: 'nfs_by_jltv-webfont';
   transition: 0.2s;
}

.search-page {
   margin-top: 23px;
   height: 38px;
   width: 88%;
}

.random-button:hover {
   cursor: pointer;
   opacity: 1;
}

.random-button:focus {
   outline: none;
}

@media only screen and (max-width: 1145px) {
   .random-button {
      margin-bottom: 40px;
   }
   .search-page {
      width: 95%;
      margin-bottom: 0;
   }
}

@media only screen and (max-width: 900px) {
   .random-button {
      width: 80%;
   }
   .search-page {
      width: 95%;
   }
}
