html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
}

.background {
   right: 0;
   position: absolute;
   height: 100%;
   width: 90%;
   z-index: -100;
}

.page-container {
   right: 0;
   position: absolute;
   height: 100%;
   width: 85%;
   margin-left: 20%;
   margin-top: 40px;
   display: flex;
}

.search {
   height: 30px;
   border-radius: 5px;
   border-color: #1277a5;
}
