html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
}

.background {
   right: 0;
   position: absolute;
   height: 100%;
   width: 90%;
   z-index: -100;
}

.page-container {
   right: 0;
   position: absolute;
   height: 100%;
   width: 85%;
   margin-left: 20%;
   margin-top: 50px;
   display: grid;
   grid-gap: 50px;
   grid-template-columns: 220px 1fr;
}

.search {
   height: 30px;
   border-radius: 5px;
   border-color: #1277a5;
}

h3 {
   margin: 30px 0 0 0;
   font-weight: 400;
}

hr {
   border: #1277a5 1px solid;
}

.item {
   width: 220px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

h4 {
   margin: 0;
}

.item h4 {
   font-weight: 400;
}

.item .time {
   color: #1277a5;
}

.link:hover {
   color: #1277a5;
   transition: 0.2s;
   cursor: pointer;
}

.item span {
   color: Black;
}

.row2 {
   margin-right: 15%;
}

h1 {
   font-weight: 500;
}
