html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
}

.background {
   right: 0;
   position: absolute;
   height: 100%;
   width: 90%;
   z-index: -100;
}

.page-container {
   right: 0;
   position: absolute;
   height: 100%;
   width: 85%;
   margin-left: 20%;
   margin-top: 50px;
   display: grid;
   grid-gap: 50px;
   grid-template-columns: 220px 1fr;
}

.search {
   height: 30px;
   border-radius: 5px;
   border-color: #1277a5;
   width: 96%;
   margin-top: 10px;
}

h3 {
   margin: 30px 0 0 0;
   font-weight: 400;
}

hr {
   border: #1277a5 1px solid;
}

.item {
   width: 220px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

h4 {
   margin: 0;
}

.item h4 {
   font-weight: 400;
}

.item .time {
   color: #1277a5;
}

.link:hover {
   color: #1277a5;
   transition: 0.2s;
   cursor: pointer;
}

.item span {
   color: Black;
}

.content {
   margin-right: 15%;
   max-height: 60vh;
   overflow-y: auto;
}

.content p {
   margin-right: 25px;
}

.content::-webkit-scrollbar {
   width: 0.5em;
}

.content::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 5px;
}

.content::-webkit-scrollbar-thumb {
   background-color: #5aa2c4;
   outline: 1px solid slategrey;
   border-radius: 5px;
}

h1 {
   font-weight: 500;
   margin: 0;
   margin-bottom: 20px;
}

Button {
   margin-top: 10px;
   background-color: #1277a5;
   color: #fff;
   border-radius: 3px;
   padding: 4px 10px;
   border: #5aa2c4 1px solid;
   transition: 0.2s;
}

Button:hover {
   background-color: #3b9bc7;
}

Button:active {
   transform: translateY(0.5px);
   background-color: #5aa2c4;
}

Button:focus {
   outline: none;
}

.form-container {
   display: flex;
   flex-direction: column;
   margin-right: 15%;
}

textarea {
   min-height: 80px;
   height: 180px;
   max-height: 300px;
   min-width: 182px;
   max-width: 90%;
   margin-bottom: 10px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
}

.name-input {
   max-width: 180px;
}

label {
   margin-bottom: 10px;
}

.edit-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 15%;
}

.edit-info span {
   color: gray;
}

.cancel-button {
   background: gray;
   border: 1px lightgray solid;
   margin-left: 10px;
   transition: 0.2s;
}

.cancel-button:hover {
   opacity: 0.7;
   background-color: gray;
}

.button-div {
   display: flex;
}
