.logo-container {
   display: flex;
   align-items: center;
   justify-content: start;
}

.link {
   text-decoration: none;
}

.nav-container {
   min-height: 10vh;
   display: flex;
   align-items: center;
   justify-content: start;
   padding: 10px;
   border-bottom: 0.7px solid var(--border-color);
   overflow: hidden;
}
