.recent-container {
   margin: 20px 20px 0 20px;
   height: 354px;
}

.recently {
   padding-top: 20px;
   font-weight: 400;
   color: var(--accent-color);
   font-size: 20px;
}

@media only screen and (max-width: 1145px) {
   .recent-container {
      margin-top: 20px;
      margin-bottom: 20px;
   }
}
